body {
    background-image: url("../images/background.jpg");
}

h1 {
    background-color: #ffa500;
    color: #ffffff;
    display: inline;
    clear: both;
    padding: 10px;
    margin-bottom: 20px;
    border: solid 1px #ddd;
}

#wrapper {
    width: 100%
    margin: 0 auto;
}

#instructions {
    background-color: #ffffff;
    width: 50%;
    clear: both;
    padding: 15px;
    margin-top: 20px;
    border: solid 1px #ddd;
}

#guessingNumber {
    background-color: rgb(180, 207, 207);
    float: left;
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    border: solid 1px #ddd;
    width: 300px;
}

#scoreboard {
    background-color: rgb(180, 207, 207);
    display: inline-block;
    padding: 15px 20px 10px 15px;
    margin-top: 20px;
    margin-left: 20px;
    border: solid 1px #ddd;
    width: 150px;
}

#crystals {
    margin-top: 15px;
    margin-bottom: 26px;
    height: 100px;
}

.crystalImages {
    margin: 10px;
    height: 60px;
    padding: 10px;
   
}

#totalScore {
    background-color: rgb(180, 207, 207);
    float: left;
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    border: solid 1px #ddd;
    width: 300px;
}

#one {
    margin: 10px;
    height: 60px;
    padding: 10px;
    background-image: url("../images/blue.png");
    width: 67px;
    height: 70px;

}

#two {
    margin: 10px;
    height: 60px;
    padding: 10px;
    background-image: url("../images/green.png");
    width: 55px;
    height: 75px;

}

#three {
    margin: 10px;
    height: 60px;
    padding: 10px;
    background-image: url("../images/red.png");
    width: 62.5px;
    height: 90px;

}

#four {
    margin: 10px;
    height: 60px;
    padding: 10px;
    background-image: url("../images/yellow.png");
    width: 65px;
    height: 73px;

}


